---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { title, description, heroImage } = project.data;
---

<article class="group h-full">
  <div
    class="rounded-xl overflow-hidden
              flex flex-col h-full
              shadow-lg
              transition-all duration-300 ease-out
              hover:scale-105 hover:shadow-2xl"
  >
    {
      heroImage && (
        <a href={`/projects/${project.slug}`} class="block overflow-hidden">
          <img src={heroImage} alt={title} class="w-full h-48 object-cover" />
        </a>
      )
    }

    <div class="p-6 flex flex-col items-center">
      <h3 class="text-xl font-bold leading-tight w-full text-center">
        <a
          href={`/projects/${project.slug}`}
          class="text-brand-secondary block"
        >
          {title}
        </a>
      </h3>

      <p
        class="text-slate-600 text-sm leading-relaxed mt-4
                max-h-0 overflow-hidden opacity-0
                transition-all duration-300
                group-hover:max-h-40
                group-hover:opacity-100"
      >
        {description}
      </p>
    </div>
  </div>
</article>
